@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap|Montserrat:100|Muli|Work+Sans|Fjalla+One|Roboto|Londrina+Solid&display=swap');
*{
	margin: 0;
}
.main{
	display: flex;
}
.left{
	width: 50%;
	top: 0;
	position: fixed;
	display: block;
	left: 0;
	overflow: hidden;
}
.intro{
	top: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: #25274D;
	background-repeat: no-repeat;
	background-size: auto;
	position: absolute;
}
.intro--content{
	width: 100%;
}
.self--image img{
	width: 40%;
	height: 40%;
	border: 2px solid rgba(255,255,255,1);
	border-radius: 10%;
}
.name{
	font-family: 'Paytone One', sans-serif;
	font-size: 4.5em;
	padding: 2% 0 0 0;
	color: #49BA9F;
	background-image: linear-gradient(125deg,#49BA9F 40%, #3BC5D1 75%);
	background-size: 100%;
    	-webkit-background-clip: text;
    	-moz-background-clip: text;
    	-webkit-text-fill-color: transparent; 
    	-moz-text-fill-color: transparent;
}
.connect{
	padding: 2% 0 0 0;
}
.connect ul{
	-webkit-padding-start: 0;
	-moz-padding-start: 0;

}
.connect ul li{
	display: inline;
	font-size: 1.5em;
	padding: 0 1.5% 0 1.5%;
}
.connect ul li a{
	color: #49BA9F;
	background-image: linear-gradient(30deg,#49BA9F 10%, #3BC5D1 15%);
	background-size: 100%;
    	-webkit-background-clip: text;
    	-moz-background-clip: text;
    	-webkit-text-fill-color: transparent; 
    	-moz-text-fill-color: transparent;
}
.connect ul li a:hover{
	border-bottom: 2px solid rgba(255,255,255,1);
}
.right{
	width: 50%;
	height: auto;
	position: absolute;
	right: 0;
}
.right--data{
	background-color: #25274D;
}
.specifics{
	display: flex;
	flex-direction: column;
}
.specifics{
	margin: 0 3.5% 0 3.5%;
	padding: 3% 2% 3% 2%;	
}
.heading{
	font-size: 0.95em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: -0.07em;
	font-weight: 900;
	margin-bottom: 2%;
	color: #CCCCCC;
    	background-image: linear-gradient(30deg,#49BA9F 10%, #3BC5D1 15%);
	background-size: 100%;
    	-webkit-background-clip: text;
    	-moz-background-clip: text;
    	-webkit-text-fill-color: transparent; 
    	-moz-text-fill-color: transparent;
}
.subheading{
	font-family: 'Roboto', sans-serif;
	color: #CCCCCC;
	font-weight: bold;
	font-size: 0.92em;
}
.about{
	font-size: 0.9em;
	color: #AAABB8;
	font-family: 'Muli', sans-serif;
	line-height: 175%;
}
.about .highlight{
	font-weight: bold;
	color: rgba(100,0,100,1);
}
.about span a{
	text-decoration: none;
	font-weight: bold;
	color: rgba(0,150,20,1);
}

.about .timeline{
	font-size: 0.85em;
	color: #CCCCCC;
}
@media (max-width: 768px){
	.main{
		display: block!important;
	}
	.left{
		position: relative!important;
		width: 100%;
		height: 90%;
	}
	.right{
		width: 100%;
	}
	.name{
		font-size: 3.5em;
	}
	.connect ul li{
		font-size: 1em;
		padding: 0 2.5% 0 2.5%;
	}
	.description{
		font-size: 1em;
	}
	.heading{
		font-size: 1.0em;
		letter-spacing: -0.03em;
	}
	.about{
		font-size: 0.9em;
	}
}
